<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>About Us - Brand</title>
    <link rel="stylesheet" href="../components/about-us.css" />
  </head>

  <body>
    <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>
    <main class="page">
      <section class="clean-block about-us">
        <div class="container">
          <div class="block-heading">
            <h2>About Us</h2>
            <p>
              Four friends that decided to open a store for sheets.<br />We love sheets so we
              decided to share it with you ♥
            </p>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
              <div class="card text-center clean-card">
                <img class="card-img-top w-100 d-block" src="../assets/images/meditation.png" />
                <div class="card-body info">
                  <h4 class="card-title">Sharon Vazana</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card text-center clean-card">
                <img class="card-img-top w-100 d-block" src="../assets/images/spring.png" />
                <div class="card-body info">
                  <h4 class="card-title">Yarden Hovav</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card text-center clean-card">
                <img class="card-img-top w-100 d-block" src="../assets/images/yoga.png" />
                <div class="card-body info">
                  <h4 class="card-title">Hadar Amsalem</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card text-center clean-card">
                <img class="card-img-top w-100 d-block" src="../assets/images/reading-book.png" />
                <div class="card-body info">
                  <h4 class="card-title">Chen Ben Tolila</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script type="module" id="replace_with_footer" src="footer.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>

    <!-- <script src="components/welcome-page.js"></script> -->
  </body>
</html>
