<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>FAQ - Brand</title>
    <link rel="stylesheet" href="../components/help-center.css" />
  </head>

  <body>
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <main class="page faq-page">
      <section class="clean-block clean-faq dark">
        <div class="container">
          <div class="block-heading">
            <h3 class="text-center text-dark mb-4">Help Center<br /></h3>
            <p>
              All the information you need is here,<br />if something is amiss
              you are welcome to contact us
            </p>
          </div>
        </div>
        <div class="fs-6 block-content" style="margin-left: 40px">
          <div class="faq-item">
            <h4 class="question" style="font-weight: bold">
              <strong>Terms and Policies</strong><br />
            </h4>
            <p>It depends where your order is being shipped.<br /></p>
          </div>
          <div class="faq-item">
            <h4 class="question" style="font-weight: bold">
              <strong>Deliveries and Orders</strong><br />
            </h4>
            <p>
              To help determine if your connection is secure, look at the status
              bar of your browser window. If you see an unbroken key or a closed
              lock (depending on your browser), Secure Sockets Layer (SSL)
              should be active, which helps to protect the transmission of
              information through the website. You should also verify that the
              URL for the page you are on includes &quot;https&quot; at the
              beginning. Most browsers offer additional security alerts as
              well.<br />
            </p>
          </div>
          <div class="faq-item">
            <h4 class="question" style="font-weight: bold">
              <strong>Cancel Transaction</strong><br />
            </h4>
            <p>
              You can request to cancel your order within a short time period
              after placing your order. To cancel your order, sign in to your
              account, find the order in your purchases, click
              &quot;Details&quot; and then click &quot;Cancel Order&quot; to
              start the request process. If the &quot;Cancel Order&quot; button
              is disabled, the window to cancel has passed and your order is not
              eligible for cancellation. We&#39;re unable to cancel an order
              beyond this time period.Your payment method will not be charged if
              we are able to cancel your order. If we&#39;re unable to cancel
              your order, your payment method will be charged and your items
              will be shipped to you.<br />
            </p>
          </div>
          <div class="faq-item">
            <h4 class="question" style="font-weight: bold">
              <strong>Return policy</strong><br />
            </h4>
            <p>
              We handle returns on a case-by-case basis with the ultimate goal
              of making our customers happy. We stand behind our goods and
              services, and want customers to be satisfied with them. We&#39;ll
              always do our best to take care of customers—our philosophy is to
              deal with them fairly and reasonably. We have long believed that
              when we treat our customers fairly, they in turn are fair with us.
              We apply refunds to the tender with which returned items were
              purchased. <br />
            </p>
          </div>
          <div class="faq-item">
            <h6 class="question" style="font-weight: bold; font-size: 15px">
              <strong>Q &amp; A</strong><br />
            </h6>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              href="q-and-a.html"
              title="Q&amp;A page"
              style="font-weight: bold"
              >Link</a
            >
          </div>
        </div>
      </section>
    </main>
    <script id="replace_with_footer" src="../components/footer.js"></script>
    <!-- <script src="components/Welcome-page.js"></script> -->
  </body>
</html>
