<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>About Us - Brand</title>
  <link rel="stylesheet" href="../components/home-page.css" />
</head>

<body>
  <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>
  <main class="page">
    <section class="clean-block about-us">
      <div class="container">
        <!-- <div style="padding-top: 60px;
        padding-bottom: 5px;">
          <h1 style="
            background:  #ffd8ce;
            font-size: 35px;
            font-style: var(--bs-pink);
            border-color: #ffd8ce;
            color: #202020;
            text-align: center;
          "> Crazy sale, discounts on selected models:)</h1>
          
        </div> -->
        <div id="image_field"
          class="image d-flex flex-fill align-content-center justify-content-lg-center align-items-lg-center"
          style="margin-top: 2vw; background-color: #ffd8ce;">
          <a><img id="sale_image" class="img-fluid d-block mx-auto"
              src="../assets/images/Lovepik-pink-Sale promotion label.png"
              style="/*width: 90vw; height: 40vw;*/width: 40vw; height: 20vw;" /></a>
        </div>
        <div class="block-heading">
          <h1>Welcome!</h1>
          <p style="margin-bottom: 2vw">Start exploring our new designes</p>
        </div>
      </div>
      <div class="container">
        <div class="row d-flex flex-fill align-content-center justify-content-lg-center align-items-lg-center"
          style="margin-bottom: 3vw">
          <div class="col">
            <div style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/71ZxvIGFtrL._SL1280_.jpg);
                  background-position: center;
                  background-size: cover;
                ">
              <div class="d-lg-flex my-auto justify-content-lg-center">
                <span
                  class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                  style="color: var(--bs-pink); font-weight: bolder; margin-right: 2vw"><br /><strong>MICROFIBER
                    SHEETS</strong><br /><br /><br /></span>
                <a id="microBtn"
                  class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                  type="button" style="
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    ">SHOP NOW</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/15591845895708.jpg);
                  background-position: center;
                  background-size: cover;
                ">
              <div class="d-lg-flex my-auto justify-content-lg-center">
                <span
                  class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                  style="color: var(--bs-pink); font-weight: bolder; margin-right: 2vw"><br /><strong>COTTON
                    SHEETS</strong><br /><br /><br /></span>
                <a id="cottonBtn" href="../components/product-catalog.html"
                  class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                  type="button" style="
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    ">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-fill align-content-center justify-content-lg-center align-items-lg-center"
          style="margin-bottom: 3vw">
          <div class="col">
            <div style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/Factory-Price-Wholesale-Cotton-Bedding-Set-for-Home-Design.jpg);
                  background-position: center;
                  background-size: cover;
                ">
              <div class="d-lg-flex my-auto justify-content-lg-center">
                <span
                  class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                  style="color: var(--bs-pink); font-weight: bolder; margin-right: 2vw"><br /><strong>FLANNEL
                    SHEETS</strong><br /><br /><br /></span>
                <a id="flannelBtn" href="../components/product-catalog.html"
                  class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                  type="button" style="
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    ">SHOP NOW</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/H07c3e51c66e6461ab2a133d201ddd32aV.jpg);
                  background-position: center;
                  background-size: cover;
                ">
              <div class="d-lg-flex my-auto justify-content-lg-center">
                <span
                  class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                  style="color: var(--bs-pink); font-weight: bolder; margin-right: 2vw"><br /><strong>SATIN
                    SHEETS</strong><br /><br /><br /></span>
                <a id="satinBtn" href="../components/product-catalog.html"
                  class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                  type="button" style="
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    ">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/5b8238d6e96f3ba1f447561bbe134681.jpg);
                  background-position: center;
                  background-size: cover;
                ">
              <div class="d-lg-flex my-auto justify-content-lg-center">
                <span
                  class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                  style="color: var(--bs-pink); font-weight: bolder; margin-right: 2vw"><br /><strong>JESRSY
                    SHEETS</strong><br /><br /><br /></span>
                <a id="jerseyBtn" href="../components/product-catalog.html"
                  class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                  type="button" style="
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    ">SHOP NOW</a>
              </div>
            </div>
          </div>
          <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
            <h1 class="text-center">
              <br /><strong>OUR NEW WEBSITE IS ON AIR,</strong><br /><strong>AND READY FOR YOU !</strong><br /><br />
            </h1>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script type="module" id="replace_with_footer" src="footer.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
  <script type="module" src="../components/home-page.js"></script>
</body>

</html>