<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>About Us - Brand</title>
    <link rel="stylesheet" href="../components/home-page.css" />
  </head>

  <body>
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <main class="page">
      <section class="clean-block about-us">
        <div class="container">
          <div class="block-heading">
            <h1>Welcome!</h1>
            <p style="margin-bottom: 2vw">Start exploring our new designes</p>
            <ul
              class="nav nav-tabs d-lg-flex flex-row justify-content-lg-center align-items-lg-center"
            >
              <li class="nav-item"></li>
              <li class="nav-item">
                <a class="nav-link fw-bold link-dark" href="#">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: var(--bs-pink)"
                  >Cotton</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: var(--bs-pink)"
                  >Microfiber</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: var(--bs-pink)"
                  >Flannel</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: var(--bs-pink)"
                  >Satin</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: var(--bs-pink)"
                  >Jersey<br
                /></a>
              </li>
              <li class="nav-item"></li>
              <li class="nav-item">
                <a class="nav-link mx-auto" href="#"
                  ><button
                    class="btn btn-primary"
                    type="button"
                    style="
                      background: url('../assets/icons/search (1).svg') center /
                        contain no-repeat;
                      width: 2vw;
                      height: 2vw;
                      border-style: hidden;
                    "
                  ></button
                  ><input
                    class="mx-auto"
                    type="search"
                    name="product_catalog_search_bar"
                    placeholder="SKU, product name"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div
            class="row d-flex flex-fill align-content-center justify-content-lg-center align-items-lg-center"
            style="margin-bottom: 3vw"
          >
            <div class="col">
              <div
                style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/71ZxvIGFtrL._SL1280_.jpg);
                  background-position: center;
                  background-size: cover;
                "
              >
                <div class="d-lg-flex my-auto justify-content-lg-center">
                  <span
                    class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                    style="
                      color: var(--bs-pink);
                      font-weight: bolder;
                      margin-right: 2vw;
                    "
                    ><br /><strong>OUR COLLECTION</strong
                    ><br /><br /><br /></span
                  ><button
                    class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                    type="button"
                    style="
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    "
                  >
                    SHOP NOW
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div
                style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/15591845895708.jpg);
                  background-position: center;
                  background-size: cover;
                "
              >
                <div class="d-lg-flex my-auto justify-content-lg-center">
                  <span
                    class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                    style="
                      color: var(--bs-pink);
                      font-weight: bolder;
                      margin-right: 2vw;
                    "
                    ><br /><strong>COTTON SHEETS</strong
                    ><br /><br /><br /></span
                  ><button
                    class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                    type="button"
                    style="
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    "
                  >
                    SHOP NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row d-flex flex-fill align-content-center justify-content-lg-center align-items-lg-center"
            style="margin-bottom: 3vw"
          >
            <div class="col">
              <div
                style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/Factory-Price-Wholesale-Cotton-Bedding-Set-for-Home-Design.jpg);
                  background-position: center;
                  background-size: cover;
                "
              >
                <div class="d-lg-flex my-auto justify-content-lg-center">
                  <span
                    class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                    style="
                      color: var(--bs-pink);
                      font-weight: bolder;
                      margin-right: 2vw;
                    "
                    ><br /><strong>FLANNEL SHEETS</strong
                    ><br /><br /><br /></span
                  ><button
                    class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                    type="button"
                    style="
                      /*margin-left: 300px;*/ /*background: #FFD8CE;*/ /*font-size: 20px;*/
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    "
                  >
                    SHOP NOW
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div
                style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/H07c3e51c66e6461ab2a133d201ddd32aV.jpg);
                  background-position: center;
                  background-size: cover;
                "
              >
                <div class="d-lg-flex my-auto justify-content-lg-center">
                  <span
                    class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                    style="
                      color: var(--bs-pink);
                      font-weight: bolder;
                      margin-right: 2vw;
                    "
                    ><br /><strong>SATIN SHEETS</strong><br /><br /><br /></span
                  ><button
                    class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                    type="button"
                    style="
                      /*margin-left: 300px;*/ /*background: #FFD8CE;*/ /*font-size: 20px;*/
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    "
                  >
                    SHOP NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div
                style="
                  height: 500px;
                  background-image: url(../assets/images/sheets/5b8238d6e96f3ba1f447561bbe134681.jpg);
                  background-position: center;
                  background-size: cover;
                "
              >
                <div class="d-lg-flex my-auto justify-content-lg-center">
                  <span
                    class="fs-4 border rounded border-0 d-inline-flex d-lg-flex my-auto justify-content-lg-center align-items-lg-center"
                    style="
                      color: var(--bs-pink);
                      font-weight: bolder;
                      margin-right: 2vw;
                    "
                    ><br /><strong>JESRSY SHEETS</strong
                    ><br /><br /><br /></span
                  ><button
                    class="btn btn-primary d-grid d-lg-flex my-auto justify-content-lg-end align-items-lg-center"
                    type="button"
                    style="
                      /*margin-left: 300px;*/
                      background: #ffd8ce;
                      font-size: 20px;
                      background: #ffd8ce;
                      font-size: 20px;
                      font-style: var(--bs-pink);
                      border-color: #ffd8ce;
                      color: #fc8c99;
                    "
                  >
                    SHOP NOW
                  </button>
                </div>
              </div>
            </div>
            <div
              class="col d-lg-flex justify-content-lg-center align-items-lg-center"
            >
              <h1 class="text-center">
                <br /><strong>OUR NEW WEBSITE IS ON AIR,</strong><br /><strong
                  >AND READY FOR YOU !</strong
                ><br /><br />
              </h1>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script id="replace_with_footer" src="footer.js"></script>
    <!-- <script src="components/Welcome-page.js"></script> -->
  </body>
</html>
