<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Shopping Cart - Brand</title>
    <link rel="stylesheet" href="../components/manager-profile.css" />
</head>

<body>
    <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>

    <main class="page shopping-cart-page">
        <section class="bg-light clean-block clean-cart dark">
            <div class="container" style="text-align: center">
                <div class="block-heading">
                    <h1 style="font-size: calc(1.325rem + 0.9vw)">Manager Zone</h1>
                    <ul class="nav nav-tabs d-lg-flex flex-row justify-content-lg-center align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link" href="manager-profile.html"
                                style="font-weight: bold; color: var(--bs-dark)">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manager-manage-items.html" style="color: var(--bs-pink)">Manage
                                items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manager-manage-orders.html" style="color: var(--bs-pink)">Manage
                                orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manager-delivery-times.html"
                                style="color: var(--bs-pink)">Delivery times</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manager-statistics.html" style="color: var(--bs-pink)">Statistical
                                Information</a>
                        </li>
                    </ul>
                </div>
                <div id="spinner" class="loader" style="margin-left: 37vw;"></div>
                <div id = "detailsContainer" class="row d-lg-flex justify-content-lg-center mb-3" style="margin-top: 20px">
                    <div class="col-lg-8" style="text-align: start;">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="first_name"><strong>First
                                                                Name</strong></label><input id="first_name"
                                                            class="form-control" type="text" name="profile_first_name"
                                                            placeholder="First name here" />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="last_name"><strong>Last
                                                                Name</strong></label><input id="last_name"
                                                            class="form-control" type="text" name="profile_last_name"
                                                            placeholder="Last name here" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="first_name"><strong>Date of
                                                                Birth</strong></label><input id="Birthday"
                                                            class="form-control" type="text"
                                                            name="profile_date_of_birth" readonly />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="last_name"><strong>Phone
                                                                Number</strong><br /></label><input id="phone_number"
                                                            class="form-control" type="tel"
                                                            placeholder="Phone number here" required minlength="10"
                                                            maxlength="10" name="phone_number" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label"
                                                            for="username"><strong>Email</strong></label><input
                                                            id="username" class="form-control" type="text"
                                                            name="profile_email" readonly />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3" hidden>
                                                        <label class="form-label"
                                                            for="email"><strong>Password</strong></label><input
                                                            id="password" class="form-control" type="email" name="email"
                                                            value="*********" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="save_btn" class="btn btn-primary" type="button" style="
                    color: var(--bs-white);
                    background: var(--bs-gray-dark);
                    border-style: hidden;
                    border-color: var(--bs-pink);
                    margin-top: 2vw;
                    margin-left: 12vw;
                    margin-bottom: 3vw;
                    width: 30vw;
                  ">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <script type="module" id="replace_with_footer" src="../components/footer.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
    <script type="module" src="../components/manager-profile.js"></script>
</body>

</html>