<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Catalog - Brand</title>
  <link rel="stylesheet" href="../components/product-catalog.css" />
</head>

<body>
  <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>
  <main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
      <div class="container">
        <div class="block-heading">
          <h1 style="font-size: calc(1.325rem + 0.9vw)">Product Catalog<br /></h1>
        </div>
        <ul class="nav nav-tabs d-lg-flex flex-row justify-content-lg-center align-items-lg-center">
          <li class="nav-item"></li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#" style="color: var(--bs-pink)">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Cotton</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Microfiber</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Flannel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Satin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Jersey<br /></a>
          </li>
          <li class="nav-item"></li>
          <li class="nav-item">
            <a class="nav-link mx-auto" href="#">
              <button id="catalog_search_btn" class="btn btn-primary" type="button" style="
                    background: url('../assets/icons/search\ \(1\).svg') center / contain no-repeat;
                    width: 1.5vw;
                    height: 1.5vw;
                    border-style: hidden;
                    margin-right: 10px;
                  "></button>
              <input id="catalog_search_input" class="mx-auto" type="search" name="product_catalog_search_bar"
                placeholder="SKU, product name" />
            </a>
          </li>
        </ul>
        <!-- <div class="d-lg-flex justify-content-lg-start filters" style="padding-bottom: 20px;padding-left: 5vw;"><select
            id="sort_combo" style="padding-left: 30px;font-size: 20px;text-align: left;color:
            var(--bs-gray-700);border-color: var(--bs-gray-400);">
            <option value selected style="font-weight: bold">Sort by</option>
            <option value="1">Lowest to Highest</option>
            <option value="2">Highest to Lowest</option>
          </select>
        </div> -->
        <!-- <div class="d-lg-flex justify-content-lg-start filters" style="padding-bottom: 20px; padding-left: 30px">
          <select id="sort_combo" style="font-size: 20px; text-align: left">
            <option value selected style="font-weight: bold">Sort by</option>
            <option value="1">Lowest to Highest</option>
            <option value="2">Highest to Lowest</option>
          </select>
        </div> -->
        <div class="row" style="padding-bottom: 3vw; padding-top: 3vw;">
          <div class="col text-center"><select id="filter_size" style="padding-left: 30px;font-size: 20px;text-align: left;color:
              var(--bs-gray-700);border-color: var(--bs-gray-400);">
              <option value selected style="font-weight: bold">Filter By</option>
              <option value="1">California King</option>
              <option value="2">King</option>
              <option value="3">Queen</option>
              <option value="4">Twin</option>
              <option value="5">Cotton</option>
              <option value="6">Microfiber</option>
              <option value="7">Flannel</option>
              <option value="8">Satin</option>
              <option value="9">Jersey</option>
              <option value="10">Just Landed</option>
              <option value="11">Few Left</option>


            </select></div>
          <div class="col text-center"><select id="sort_combo" style="padding-left: 30px;font-size: 20px;text-align: left;color:
            var(--bs-gray-700);border-color: var(--bs-gray-400);">
              <option value selected style="font-weight: bold">Sort by</option>
              <option value="1">Lowest to Highest</option>
              <option value="2">Highest to Lowest</option>
            </select></div>

          <!-- <div class="col text-center"><select id="filter_fabric" style="padding-left: 30px;font-size: 20px;text-align: left;color:
              var(--bs-gray-700);border-color: var(--bs-gray-400);">
              <option value selected style="font-weight: bold">Fabric</option>
              <option value>Cotton</option>
              <option value>Microfiber</option>
              <option value>Flannel</option>
              <option value>Satin</option>
              <option value>Jersey</option>
            </select></div> -->
          <!-- <div class="col-lg-3 text-center"><select id="filter_status" style="padding-left: 30px;font-size: 20px;text-align: left;color:
              var(--bs-gray-700);border-color: var(--bs-gray-400);">
              <option value selected style="font-weight: bold">Product Status</option>
              <option value>Just Landed</option>
              <option value>Few Left</option>
            </select>
            <div class="d-lg-flex mx-auto justify-content-lg-end align-items-lg-end" data-bs-toggle="tooltip"
              data-bs-placement="bottom" style="margin-top: 4vw;" title="Activate filter options"><button
                class="btn btn-primary" type="button"
                style="border-style: solid;border-color: var(--bs-pink);background: var(--bs-white);color: var(--bs-pink);font-size: 18px;">Filter</button>
            </div>
          </div> -->
        </div>
        <!-- <div class="row" style="padding-bottom: 3vw;">
          <div class="col text-center"><label class="col-form-label"
              style="color: var(--bs-pink);font-weight: bold;">Filter Options:</label></div>
          <div class="col text-center"><select
              style="padding-left: 30px;font-size: 20px;text-align: left;color: var(--bs-pink);border-color: var(--bs-pink);">
              <option value selected>Bed Size</option>
              <option value>California King</option>
              <option value>King</option>
              <option value>Queen</option>
              <option value>Twin</option>
            </select></div>
          <div class="col text-center"><select
              style="padding-left: 30px;font-size: 20px;text-align: left;color: var(--bs-pink);border-color: var(--bs-pink);">
              <option value selected>Fabric</option>
              <option value>Cotton</option>
              <option value>Microfiber</option>
              <option value>Flannel</option>
              <option value>Satin</option>
              <option value>Jersey</option>
            </select></div>
          <div class="col-lg-3 text-center"><select
              style="padding-left: 30px;font-size: 20px;text-align: left;color: var(--bs-pink);border-color: var(--bs-pink);">
              <option value selected>Product Status</option>
              <option value>Just Landed</option>
              <option value>Few Left</option>
            </select></div>
        </div> -->
        <!-- <div class="row">
          <div class="col">
            <div class="mx-auto filter-item" style="padding-top: 30px;padding-bottom: 40px;padding-left: 40px;">
              <h3 style="font-weight: bold;text-decoration: underline;font-size: 20px;">Bed size</h3>
              <div class="form-check"><input id="formCheck-2" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-2">California King<br /></label></div>
              <div class="form-check"><input id="formCheck-3" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-3">King<br /></label></div>
              <div class="form-check"><input id="formCheck-4" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-4">Queen<br /></label></div>
              <div class="form-check"><input id="formCheck-5" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-5">Twin<br /></label></div>
            </div>
          </div>
          <div class="col">
            <div class="mx-auto filter-item" style="padding-top: 30px;padding-bottom: 40px;padding-left: 40px;">
              <h3 style="font-weight: bold;text-decoration: underline;font-size: 20px;">Fabric</h3>
              <div class="form-check"><input id="formCheck-6" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-6">Cotton<br /></label></div>
              <div class="form-check"><input id="formCheck-7" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-7">Microfiber<br /></label></div>
              <div class="form-check"><input id="formCheck-8" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-8">Flannel<br /></label></div>
              <div class="form-check"><input id="formCheck-9" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-9">Satin<br /></label></div>
              <div class="form-check"><input id="formCheck-1" class="form-check-input" type="radio" /><label
                  class="form-check-label" for="formCheck-1">Jersey<br /></label></div>
            </div>
          </div>
          <div class="mx-auto filter-item" style="padding-top: 30px;padding-left: 40px;">
            <h3 style="font-weight: bold;text-decoration: underline;font-size: 20px;">Product status</h3>
            <div class="form-check"><input id="formCheck-10" class="form-check-input" type="radio" /><label
                class="form-check-label" for="formCheck-10">Just landed<br /></label></div>
            <div class="form-check"><input id="formCheck-11" class="form-check-input" type="radio" /><label
                class="form-check-label" for="formCheck-11">On sale<br /></label></div>
          </div>
          <div class="d-lg-flex justify-content-lg-end align-items-lg-end" data-bs-toggle="tooltip"
            data-bs-placement="bottom" style="margin-top: 4vw" title="Activate filter options">
            <button id="filter_btn" class="btn btn-primary" type="button" style="
                    border-style: solid;
                    border-color: var(--bs-pink);
                    background: var(--bs-white);
                    color: var(--bs-pink);
                    font-size: 18px;
                  ">
              Filter
            </button>
          </div>
        </div> -->
      </div>
      <div class="content">
        <div class="row justify-content-center">
          <div class="col-md-9 flex-fill">
            <div class="products">
              <!-- spinner for list -->
              <div id="spinner" class="loader"></div>
              <!-- start of list -->
              <div id="catalog_list" class="row g-0">
                <div hidden id="product" class="col-12 col-md-6 col-lg-4">
                  <div class="clean-product-item">
                    <div id="image_field" class="image">
                      <a href="../components/product-page.html"><img id="product_image"
                          class="img-fluid d-block mx-auto"
                          src="../assets/images/sheets/1bd475a7dd51118a3db91c50d52bf519.jpg"
                          style="width: 250px; height: 300px" /></a>
                    </div>
                    <div id="product_name" class="d-lg-flex justify-content-lg-center product-name">
                      <a href="../components/product-page.html">sheets name</a>
                    </div>
                    <div id="product_sku" class="d-lg-flex justify-content-lg-center product-sku">
                      <span>sku</span>
                    </div>

                    <div class="text-center d-lg-flex justify-content-lg-center about">
                      <div class="row" style="border: none">
                        <div class="col">
                          <h3 id="product_price" style="text-decoration: line-through; margin-top: 1vw;">
                            149.90
                          </h3>
                          <span id="product_sale" class="fs-4"
                            style="color: var(--bs-red); font-size: 19.2px"><strong>109.90</strong></span>
                        </div>
                      </div>
                    </div>
                    <button id="heart_btn" class="btn btn-primary" type="button" style="
                            border-radius: 0px;
                            width: 3vw;
                            height: 3vw;
                            border: 0px none var(--bs-white);
                            background: url('../assets/icons/heart-icon.svg') center / cover,
                              var(--bs-white);
                            margin-top: 1vw;
                            margin-bottom: 1vw;
                          "></button>
                  </div>
                </div>
              </div>
              <nav></nav>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>
  <script type="module" id="replace_with_footer" src="footer.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>

  <script type="module" src="../components/product-catalog.js"></script>
</body>

</html>