<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Catalog - Brand</title>
  <link rel="stylesheet" href="../components/product-catalog.css" />
</head>

<body>
  <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>
  <main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
      <div class="container">
        <div class="block-heading">
          <h1 style="font-size: calc(1.325rem + 0.9vw)">Product Catalog<br /></h1>
        </div>
        <ul class="nav nav-tabs d-lg-flex flex-row justify-content-lg-center align-items-lg-center">
          <li class="nav-item"></li>
          <li id="all_prod" class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">All</a>
          </li>
          <li id="cotton_prod" class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Cotton</a>
          </li>
          <li id="micro_prod" class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Microfiber</a>
          </li>
          <li id="flannel_prod" class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Flannel</a>
          </li>
          <li id="satin_prod" class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Satin</a>
          </li>
          <li id="jersey_prod" class="nav-item">
            <a class="nav-link" href="#" style="color: var(--bs-pink)">Jersey<br /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-auto" href="#">
              <button id="catalog_search_btn" class="btn btn-primary" type="button" style="
                    background: url('../assets/icons/search\ \(1\).svg') center / contain no-repeat;
                    width: 1.5vw;
                    height: 1.5vw;
                    border-style: hidden;
                    margin-right: 10px;
                  "></button>
              <input id="catalog_search_input" class="mx-auto" type="search" name="product_catalog_search_bar"
                placeholder="SKU, product name" />
            </a>
          </li>
        </ul>

        <div class="row" style="padding-bottom: 3vw; padding-top: 3vw;">
          <div class="col text-center"><select id="filter_combo" style="padding-left: 30px;font-size: 20px;text-align: left;color:
              var(--bs-gray-700);border-color: var(--bs-gray-400);">
              <option value="0" selected style="font-weight: bold">Filter By</option>
              <option value="1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="180x200">
                California King</option>
              <option value="2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="160x200">King
              </option>
              <option value="3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="120x200">
                Queen</option>
              <option value="4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="90x200">Twin
              </option>
              <option value="5">Cotton</option>
              <option value="6">Microfiber</option>
              <option value="7">Flannel</option>
              <option value="8">Satin</option>
              <option value="9">Jersey</option>
              <option value="10">Just Landed</option>
              <option value="11">Few Left</option>
              <option value="12">In Stock</option>

            </select></div>
          <div class="col text-center"><select id="sort_combo" style="padding-left: 30px;font-size: 20px;text-align: left;color:
            var(--bs-gray-700);border-color: var(--bs-gray-400);">
              <option value="0" selected style="font-weight: bold">Sort by</option>
              <option value="1">Lowest to Highest</option>
              <option value="2">Highest to Lowest</option>
            </select></div>

        </div>
      </div>
      <div class="content">
        <div class="row justify-content-center">
          <div class="col-md-9 flex-fill">
            <div class="products">
              <!-- spinner for list -->
              <div id="spinner" class="loader"></div>
              <!-- start of list -->
              <div id="catalog_list" class="row g-0">
                <h2 id="noItemMessage" style="color: var(--bs-pink) ;text-align:center" hidden>
                  There is no such item :(
                </h2>

                <div hidden id="product" class="col-12 col-md-6 col-lg-4" style="border: 1px solid var(--bs-gray-200)">
                  <div class="clean-product-item">
                    <div id="image_field" class="image">
                      <a><img id="product_image" class="img-fluid d-block mx-auto"
                          src="../assets/images/sheets/1bd475a7dd51118a3db91c50d52bf519.jpg"
                          style="width: 250px; height: 300px" /></a>
                    </div>
                    <a id="product_name" class="d-lg-flex justify-content-lg-center product-name" href="#"
                      style="color: var(--bs-gray-800)">sheets
                      name</a>
                    <div id="product_sku" class="d-lg-flex justify-content-lg-center product-sku">
                      <span>sku</span>
                    </div>

                    <div class="text-center d-lg-flex justify-content-lg-center about">
                      <div class="row" style="border: none">
                        <div class="col">
                          <h3 id="product_price" style="text-decoration: line-through; margin-top: 1vw;">
                            149.90
                          </h3>
                          <span id="product_sale" class="fs-4"
                            style="color: var(--bs-red); font-size: 19.2px"><strong>109.90</strong></span>
                        </div>
                      </div>
                    </div>
                    <div class="text-end" style="width: 15vw;margin-left: 10vw;margin-top: 1vw; text-align: center;">
                      <div class="col-lg-12"><span id="just_landed" style="font-size: 13px;margin-left: 1vw;margin-right: 1vw;font-weight: bold;display:
                          none;">Just
                          Landed</span></div>
                      <div class="col-lg-12"><span id="out_of_stock" style="font-size: 13px;margin-left: 1vw;margin-right: 1vw;font-weight: bold;display:
                          none;">Out Of
                          Stock</span></div>
                      <div class="col-lg-12"><span id="few_left"
                          style="font-size: 13px;margin-left: 1vw;margin-right: 1vw;font-weight: bold; display: none;">Few
                          Left</span>
                      </div>
                    </div>
                    <button id="heart_btn" class="btn btn-primary" type="button" style="
                            border-radius: 0px;
                            width: 3vw;
                            height: 3vw;
                            border: 0px none var(--bs-white);
                            background: url('../assets/icons/heart-icon.svg') center / cover,
                              var(--bs-white);
                            margin-top: 1vw;
                            margin-bottom: 1vw;
                          "></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>
  <script type="module" id="replace_with_footer" src="footer.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>

  <script type="module" src="../components/product-catalog.js"></script>
</body>

</html>