<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>FAQ - Brand</title>
    <link rel="stylesheet" href="../components/q-and-a.css" />
  </head>

  <body>
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <!-- <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar"
      style="color: rgb(33, 37, 41)"
    >
      <div class="container">
        <a
          class="btn d-lg-flex mx-auto"
          role="button"
          style="
            background: url('icon/bed-free-icon-font.svg') center / contain
              no-repeat;
            border-style: hidden;
            width: 3.5vw;
            height: 3vw;
            padding-right: 5vw;
          "
          href="home-page.html"
        ></a
        ><a
          class="navbar-brand link-light d-lg-flex justify-content-lg-center logo"
          href="#"
          style="color: var(--bs-white)"
          ><strong>Holy Sheets</strong></a
        ><button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
          <i class="fa fa-star"></i>
          <ul class="navbar-nav ms-auto">
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/home-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Home"
                href="home-page.html"
              ></a>
            </li>
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/book-alt-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Catalog"
                href="catalog-page.html"
              ></a>
            </li>
            <li
              class="nav-item d-sm-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/shopping-cart-free-icon-font.svg')
                    center / contain no-repeat;
                  border-style: hidden;
                  width: 2.3vw;
                  height: 2.3vw;
                "
                title="Shopping Cart"
                href="shopping-cart.html"
              ></a
              ><span
                class="badge rounded-pill bg-secondary d-lg-flex justify-content-lg-center align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Items in cart"
                style="height: 20px"
                >42</span
              >
            </li>
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/heart-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Wishlist"
                href="wishlist.html"
              ></a>
            </li>
            <li
              class="nav-item d-lg-flex justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/user-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="My Account"
                href="profile.html"
              ></a
              ><label
                class="form-label"
                style="
                  color: var(--bs-white);
                  margin-left: 1vw;
                  font-size: 13px;
                  text-align: center;
                  margin-top: 0.5vw;
                "
                >Hello, &lt;User&gt;</label
              >
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-flex" href="login.html">LOGIN</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-lg-flex align-items-lg-center"
                href="registration.html"
                >Register</a
              >
            </li>
          </ul>
        </div>
        <a href="registration.html"></a>
      </div>
    </nav> -->
    <main class="page faq-page">
      <section class="clean-block clean-faq dark">
        <div class="container">
          <div class="block-heading">
            <h1 style="font-size: calc(1.325rem + 0.9vw)">Q &amp; A</h1>
            <p>
              Here you&#39;ll find answers to the most frequently asked
              questions, You&#39;re Welcome.
            </p>
          </div>
        </div>
        <div class="fs-6 block-content">
          <div class="faq-item">
            <h4 class="question">
              <strong>Will you charge sales tax on my order?</strong><br />
            </h4>
            <p>It depends where your order is being shipped.<br /></p>
          </div>
          <div class="faq-item">
            <h4 class="question">
              <strong>How do I know if ordering online is secure?</strong><br />
            </h4>
            <p>
              To help determine if your connection is secure, look at the status
              bar of your browser window. If you see an unbroken key or a closed
              lock (depending on your browser), Secure Sockets Layer (SSL)
              should be active, which helps to protect the transmission of
              information through the website. You should also verify that the
              URL for the page you are on includes &quot;https&quot; at the
              beginning. Most browsers offer additional security alerts as
              well.<br />
            </p>
          </div>
          <div class="faq-item">
            <h4 class="question">
              <strong>When will my credit card be charged?</strong><br />
            </h4>
            <p>
              Your credit card will be charged for the cost of each item as it
              ships. You may see multiple credit card charges if you have an
              order that contains multiple items that are shipped at different
              times.<br />
            </p>
          </div>
          <div class="faq-item">
            <h4 class="question">
              <strong>Can I cancel an order?</strong><br />
            </h4>
            <p>
              You can request to cancel your order within a short time period
              after placing your order. To cancel your order, sign in to your
              account, find the order in your purchases, click
              &quot;Details&quot; and then click &quot;Cancel Order&quot; to
              start the request process. If the &quot;Cancel Order&quot; button
              is disabled, the window to cancel has passed and your order is not
              eligible for cancellation. We&#39;re unable to cancel an order
              beyond this time period.Your payment method will not be charged if
              we are able to cancel your order. If we&#39;re unable to cancel
              your order, your payment method will be charged and your items
              will be shipped to you.<br />
            </p>
          </div>
        </div>
      </section>
    </main>
    <!-- <footer class="page-footer dark" style="color: rgb(33, 37, 41)">
      <div class="container">
        <div class="row row-cols-4">
          <div class="col-lg-2 text-center d-lg-flex align-items-lg-center">
            <a class="mx-auto" href="help-center.html">Help Center</a>
          </div>
          <div class="col-lg-2 text-center d-lg-flex align-items-lg-center">
            <a class="mx-auto" href="q-and-a.html">Q&amp;A</a>
          </div>
          <div
            class="col-lg-2 text-center d-lg-flex align-items-center align-items-lg-center"
          >
            <a class="mx-auto" href="about-us.html">About Us</a>
          </div>
          <div class="col-lg-2 text-center d-lg-flex align-items-lg-center">
            <a class="mx-auto" href="contact-us.html">Contact Us</a>
          </div>
          <div
            class="col d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
          >
            <a
              class="btn mx-auto"
              role="button"
              style="
                background: url('icon/facebook-free-icon-font.svg') center /
                  contain no-repeat;
                border-style: hidden;
                width: 3.5vw;
                height: 3vw;
              "
              href="https://www.facebook.com/profile.php?id=100080692064900"
            ></a
            ><a
              class="btn mx-auto"
              role="button"
              style="
                background: url('icon/instagram-free-icon-font.svg') center /
                  contain no-repeat;
                border-style: hidden;
                width: 3.5vw;
                height: 3vw;
              "
              href="https://www.instagram.com/holysheets.official/"
            ></a
            ><img
              class="mx-auto"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              style="border-style: hidden; width: 3.5vw; height: 3vw"
              src="icon/envelope-free-icon-font.svg"
              title="holysheets.official@gmail.com"
            />
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>© 2022 Copyright Holy Sheets</p>
      </div>
    </footer> -->
    <script id="replace_with_footer" src="footer.js"></script>
    <!-- <script src="components/welcome-page.js"></script> -->
  </body>
</html>
