<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>FAQ - Brand</title>
    <link rel="stylesheet" href="../components/q-and-a.css" />
  </head>

  <body>
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <main class="page faq-page">
      <section class="clean-block clean-faq dark">
        <div class="container">
          <div class="block-heading">
            <h1 style="font-size: calc(1.325rem + 0.9vw)">Q &amp; A</h1>
            <p>
              Here you&#39;ll find answers to the most frequently asked
              questions, You&#39;re Welcome.
            </p>
          </div>
        </div>
        <div class="fs-6 block-content">
          <div class="faq-item">
            <h4 class="question">
              <strong>Will you charge sales tax on my order?</strong><br />
            </h4>
            <p>It depends where your order is being shipped.<br /></p>
          </div>
          <div class="faq-item">
            <h4 class="question">
              <strong>How do I know if ordering online is secure?</strong><br />
            </h4>
            <p>
              To help determine if your connection is secure, look at the status
              bar of your browser window. If you see an unbroken key or a closed
              lock (depending on your browser), Secure Sockets Layer (SSL)
              should be active, which helps to protect the transmission of
              information through the website. You should also verify that the
              URL for the page you are on includes &quot;https&quot; at the
              beginning. Most browsers offer additional security alerts as
              well.<br />
            </p>
          </div>
          <div class="faq-item">
            <h4 class="question">
              <strong>When will my credit card be charged?</strong><br />
            </h4>
            <p>
              Your credit card will be charged for the cost of each item as it
              ships. You may see multiple credit card charges if you have an
              order that contains multiple items that are shipped at different
              times.<br />
            </p>
          </div>
          <div class="faq-item">
            <h4 class="question">
              <strong>Can I cancel an order?</strong><br />
            </h4>
            <p>
              You can request to cancel your order within a short time period
              after placing your order. To cancel your order, sign in to your
              account, find the order in your purchases, click
              &quot;Details&quot; and then click &quot;Cancel Order&quot; to
              start the request process. If the &quot;Cancel Order&quot; button
              is disabled, the window to cancel has passed and your order is not
              eligible for cancellation. We&#39;re unable to cancel an order
              beyond this time period.Your payment method will not be charged if
              we are able to cancel your order. If we&#39;re unable to cancel
              your order, your payment method will be charged and your items
              will be shipped to you.<br />
            </p>
          </div>
        </div>
      </section>
    </main>
    <script id="replace_with_footer" src="footer.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script type="module"></script>
  </body>
</html>
