<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Shopping Cart - Brand</title>
    <link rel="stylesheet" href="../components/reset-password.css" />
</head>

<body>
    <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>
    <main class="page shopping-cart-page">
        <section class="bg-light clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: calc(1.325rem + 0.9vw);">Reset Password </h1>
                </div>
                <div class="align-content-center mx-auto content" style="width: 50vw;padding-bottom: 2vw;padding-top: 2vw;">
                    <div class="row">
                        <div class="col text-center"><input type="email" data-bs-toggle="tooltip" data-bs-placement="bottom" inputmode="email" title="Enter email" style="width: 27vw;" name="email_input" placeholder="example@holysheets.com" /></div>
                    </div><button class="btn btn-primary text-center d-inline-flex d-lg-flex align-self-center mx-auto justify-content-lg-center" type="button" style="color: var(--bs-white);background: var(--bs-gray-800);margin-top: 3vw;border-style: hidden;border-color: var(--bs-pink);width: 20vw;">Send
                        Email</button>
                </div>
            </div>
        </section>
    </main>
    <script type="module" id="replace_with_footer" src="../components/footer.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js">
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js">
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js">
    </script>
    <!-- <script type="module" src="registration.js"></script> -->
</body>

</html>