<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Shopping Cart - Brand</title>
    <link rel="stylesheet" href="../components/shopping-cart.css" />
  </head>
  <body>
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <!-- <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar"
      style="color: rgb(33, 37, 41)"
    >
      <div class="container">
        <a
          class="btn d-lg-flex mx-auto"
          role="button"
          style="
            background: url('icon/bed-free-icon-font.svg') center / contain
              no-repeat;
            border-style: hidden;
            width: 3.5vw;
            height: 3vw;
            padding-right: 5vw;
          "
          href="home-page.html"
        ></a
        ><a
          class="navbar-brand link-light d-lg-flex justify-content-lg-center logo"
          href="#"
          style="color: var(--bs-white)"
          ><strong>Holy Sheets</strong></a
        ><button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
          <i class="fa fa-star"></i>
          <ul class="navbar-nav ms-auto">
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/home-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Home"
                href="home-page.html"
              ></a>
            </li>
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/book-alt-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Catalog"
                href="catalog-page.html"
              ></a>
            </li>
            <li
              class="nav-item d-sm-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/shopping-cart-free-icon-font.svg')
                    center / contain no-repeat;
                  border-style: hidden;
                  width: 2.3vw;
                  height: 2.3vw;
                "
                title="Shopping Cart"
                href="shopping-cart.html"
              ></a
              ><span
                class="badge rounded-pill bg-secondary d-lg-flex justify-content-lg-center align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Items in cart"
                style="height: 20px"
                >42</span
              >
            </li>
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/heart-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Wishlist"
                href="wishlist.html"
              ></a>
            </li>
            <li
              class="nav-item d-lg-flex justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/user-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="My Account"
                href="profile.html"
              ></a
              ><label
                class="form-label"
                style="
                  color: var(--bs-white);
                  margin-left: 1vw;
                  font-size: 13px;
                  text-align: center;
                  margin-top: 0.5vw;
                "
                >Hello, &lt;User&gt;</label
              >
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-flex" href="login.html">LOGIN</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-lg-flex align-items-lg-center"
                href="registration.html"
                >Register</a
              >
            </li>
          </ul>
        </div>
        <a href="registration.html"></a>
      </div>
    </nav> -->
    <main class="page shopping-cart-page">
      <section class="clean-block clean-cart dark">
        <div class="container d-xxl-flex my-auto">
          <div class="block-heading">
            <h1 style="font-size: calc(1.325rem + 0.9vw)">
              Shopping Cart<br />
            </h1>
          </div>
          <button
            class="btn btn-primary"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            type="reset"
            style="
              background: url('../assets/icons/trash-free-icon-font.svg') center /
                contain no-repeat;
              width: 3vw;
              height: 3vw;
              border-style: hidden;
              margin-bottom: 2vw;
            "
            title="Reset Shopping Cart">
          </button>
          <div class="d-xxl-inline-flex content">
            <div class="row g-0 d-flex">
              <div class="col-md-12 col-lg-8">
                <div class="items">
                  <div class="product">
                    <div class="row justify-content-center align-items-center">
                      <div class="col">
                        <img
                          src="../assets/images/sheets/bce8bb35-8b70-40f4-b265-a8695a27ba6d.077446c4ec7c4fbd1c64b3503b7301e9.jpeg"
                          style="width: 10vw; height: 10vw"/>
                      </div>
                      <div class="col-md-5 text-start product-info">
                        <a
                          class="product-name"
                          href="#"
                          style="color: var(--bs-gray-800)"
                          >sheets name</a>
                        <div class="product-specs">
                          <div>
                            <span style="margin-right: 1vw">Bed Size: </span
                            ><span class="value">90x200</span>
                          </div>
                          <div>
                            <span style="margin-right: 1vw">SKU: </span
                            ><span class="value">5959</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-2 quantity">
                        <label
                          class="form-label d-none d-md-block"
                          for="quantity"
                          >Quantity</label
                        ><input
                          id="number"
                          class="form-control quantity-input"
                          type="number"
                          value="1"
                        />
                      </div>
                      <div class="col-6 col-md-2 price"><span>120₪</span></div>
                    </div>
                  </div>
                  <div class="product">
                    <div class="row justify-content-center align-items-center">
                      <div class="col">
                        <img
                          src="../assets/images/sheets/bed-linen-500x500.jpg"
                          style="width: 10vw; height: 10vw"
                        />
                      </div>
                      <div class="col-md-5 text-start product-info">
                        <a
                          class="product-name"
                          href="#"
                          style="color: var(--bs-gray-800)"
                          >sheets name</a
                        >
                        <div class="product-specs">
                          <div>
                            <span style="margin-right: 1vw">Bed Size: </span
                            ><span class="value">90x200</span>
                          </div>
                          <div>
                            <span style="margin-right: 1vw">SKU: </span
                            ><span class="value">5959</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-2 quantity">
                        <label
                          class="form-label d-none d-md-block"
                          for="quantity"
                          >Quantity</label
                        ><input
                          id="number"
                          class="form-control quantity-input"
                          type="number"
                          value="1"
                        />
                      </div>
                      <div
                        class="col-6 col-md-2 d-lg-flex justify-content-lg-end align-items-lg-end price"
                      >
                        <span>120₪</span>
                      </div>
                    </div>
                  </div>
                  <div class="product">
                    <div class="row justify-content-center align-items-center">
                      <div class="col">
                        <img
                          src="../assets/images/sheets/71ZxvIGFtrL._SL1280_.jpg"
                          style="width: 10vw; height: 10vw"
                        />
                      </div>
                      <div class="col-md-5 text-start product-info">
                        <a
                          class="product-name"
                          href="#"
                          style="color: var(--bs-gray-800)"
                          >sheets name</a
                        >
                        <div class="product-specs">
                          <div>
                            <span style="margin-right: 1vw">Bed Size: </span
                            ><span class="value">90x200</span>
                          </div>
                          <div>
                            <span style="margin-right: 1vw">SKU: </span
                            ><span class="value">5959</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-2 quantity">
                        <label
                          class="form-label d-none d-md-block"
                          for="quantity"
                          >Quantity</label
                        ><input
                          id="number"
                          class="form-control quantity-input"
                          type="number"
                          value="1"
                        />
                      </div>
                      <div
                        class="col-6 col-md-2 d-lg-flex justify-content-lg-end align-items-lg-end price"
                      >
                        <span>120₪</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="summary">
                  <h3 style="color: var(--bs-gray-800); font-weight: bold">
                    Summary
                  </h3>
                  <h4>
                    <span class="text">Subtotal</span
                    ><span class="price">360₪</span>
                  </h4>
                  <h4>
                    <span class="text">Discount</span
                    ><span class="price">0₪</span>
                  </h4>
                  <h4>
                    <span class="text">Shipping</span
                    ><span class="price">0₪</span>
                  </h4>
                  <h4
                    style="
                      color: var(--bs-pink);
                      font-size: 26px;
                      font-weight: bold;
                    "
                  >
                    <span class="text" style="font-weight: bold">Total</span
                    ><span class="price" style="font-weight: bold"
                      ><strong>360₪</strong></span
                    >
                  </h4>
                  <button
                    class="btn btn-primary btn-lg d-block w-100"
                    type="button"
                    style="
                      color: var(--bs-light);
                      background: var(--bs-gray-800);
                      border-style: hidden;
                    "
                  >
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script id="replace_with_footer" src="../components/footer.js"></script>
    <!-- <script src="components/welcome-page.js"></script> -->
  </body>
</html>
