<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../components/spinner-page.css" />
  </head>

  <body>
    <main class="spinner-page">
      <section class="clean-block clean-product dark">
        <h1 style="color:#d63384 ; align-items: center;margin-left: 45vw;margin-top: 5vw;">Just a second..</h1>
        <h1 style="color:#d63384 ; align-items: center;margin-left: 40vw;">we prepare the website for you</h1>
        <div id="spinner" class="loader" style="margin-left: 45vw; margin-top: 5vw;"></div>

      </section>


    </main>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
    <script type="module" src="../components/spinner-page.js"></script>
  </body>
</html>
