<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="../components/user-edit-password.css" />
  </head>

  <body id="page-top">
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <!-- <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar"
      style="color: rgb(33, 37, 41)"
    >
      <div class="container">
        <a
          class="btn d-lg-flex mx-auto"
          role="button"
          style="
            background: url('icon/bed-free-icon-font.svg') center / contain
              no-repeat;
            border-style: hidden;
            width: 3.5vw;
            height: 3vw;
            padding-right: 5vw;
          "
          href="home-page.html"
        ></a
        ><a
          class="navbar-brand link-light d-lg-flex justify-content-lg-center logo"
          href="#"
          style="color: var(--bs-white)"
          ><strong>Holy Sheets</strong></a
        ><button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
          <i class="fa fa-star"></i>
          <ul class="navbar-nav ms-auto">
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/home-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Home"
                href="home-page.html"
              ></a>
            </li>
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/book-alt-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Catalog"
                href="catalog-page.html"
              ></a>
            </li>
            <li
              class="nav-item d-sm-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/shopping-cart-free-icon-font.svg')
                    center / contain no-repeat;
                  border-style: hidden;
                  width: 2.3vw;
                  height: 2.3vw;
                "
                title="Shopping Cart"
                href="shopping-cart.html"
              ></a
              ><span
                class="badge rounded-pill bg-secondary d-lg-flex justify-content-lg-center align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Items in cart"
                style="height: 20px"
                >42</span
              >
            </li>
            <li
              class="nav-item d-lg-flex justify-content-lg-start justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/heart-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="Wishlist"
                href="wishlist.html"
              ></a>
            </li>
            <li
              class="nav-item d-lg-flex justify-content-xxl-center align-items-xxl-center"
              style="width: initial; height: 2vw"
            >
              <i
                class="fi fi-rs-home fs-2 text-white d-lg-flex align-items-lg-center"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              ></i
              ><a
                class="btn mx-auto"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                style="
                  background: url('icon/user-free-icon-font.svg') center /
                    contain no-repeat;
                  border-style: hidden;
                  width: 2.1vw;
                  height: 2.1vw;
                "
                title="My Account"
                href="profile.html"
              ></a
              ><label
                class="form-label"
                style="
                  color: var(--bs-white);
                  margin-left: 1vw;
                  font-size: 13px;
                  text-align: center;
                  margin-top: 0.5vw;
                "
                >Hello, &lt;User&gt;</label
              >
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-flex" href="login.html">LOGIN</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-lg-flex align-items-lg-center"
                href="registration.html"
                >Register</a
              >
            </li>
          </ul>
        </div>
        <a href="registration.html"></a>
      </div>
    </nav> -->
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav
            class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
          >
            <div class="container-fluid">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle me-3"
                type="button"
              >
                <i class="fas fa-bars"></i>
              </button>
              <form
                class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"
              >
                <div class="input-group">
                  <input
                    class="bg-light form-control border-0 small"
                    type="text"
                    placeholder="Search for ..."
                  /><button class="btn btn-primary py-0" type="button">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
              <ul class="navbar-nav flex-nowrap ms-auto">
                <li class="nav-item dropdown d-sm-none no-arrow">
                  <a
                    class="dropdown-toggle nav-link"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    href="#"
                    ><i class="fas fa-search"></i
                  ></a>
                  <div
                    class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                    aria-labelledby="searchDropdown"
                  >
                    <form class="me-auto navbar-search w-100">
                      <div class="input-group">
                        <input
                          class="bg-light form-control border-0 small"
                          type="text"
                          placeholder="Search for ..."
                        />
                        <div class="input-group-append">
                          <button class="btn btn-primary py-0" type="button">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow">
                    <a
                      class="dropdown-toggle nav-link"
                      aria-expanded="false"
                      data-bs-toggle="dropdown"
                      href="#"
                      ><span class="badge bg-danger badge-counter">3+</span
                      ><i class="fas fa-bell fa-fw"></i
                    ></a>
                    <div
                      class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in"
                    >
                      <h6 class="dropdown-header">alerts center</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="me-3">
                          <div class="bg-primary icon-circle">
                            <i class="fas fa-file-alt text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="small text-gray-500"
                            >December 12, 2019</span
                          >
                          <p>A new monthly report is ready to download!</p>
                        </div> </a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="me-3">
                          <div class="bg-success icon-circle">
                            <i class="fas fa-donate text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="small text-gray-500"
                            >December 7, 2019</span
                          >
                          <p>$290.29 has been deposited into your account!</p>
                        </div> </a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="me-3">
                          <div class="bg-warning icon-circle">
                            <i
                              class="fas fa-exclamation-triangle text-white"
                            ></i>
                          </div>
                        </div>
                        <div>
                          <span class="small text-gray-500"
                            >December 2, 2019</span
                          >
                          <p>
                            Spending Alert: We&#39;ve noticed unusually high
                            spending for your account.
                          </p>
                        </div> </a
                      ><a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                        >Show All Alerts</a
                      >
                    </div>
                  </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow">
                    <a
                      class="dropdown-toggle nav-link"
                      aria-expanded="false"
                      data-bs-toggle="dropdown"
                      href="#"
                      ><span class="badge bg-danger badge-counter">7</span
                      ><i class="fas fa-envelope fa-fw"></i
                    ></a>
                    <div
                      class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in"
                    >
                      <h6 class="dropdown-header">alerts center</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="avatars/avatar4.jpeg"
                          />
                          <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >Hi there! I am wondering if you can help me with
                              a problem I&#39;ve been having.</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">
                            Emily Fowler - 58m
                          </p>
                        </div> </a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="avatars/avatar2.jpeg"
                          />
                          <div class="status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >I have the photos that you ordered last
                              month!</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                        </div> </a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="avatars/avatar3.jpeg"
                          />
                          <div class="bg-warning status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >Last month&#39;s report looks great, I am very
                              happy with the progress so far, keep up the good
                              work!</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">
                            Morgan Alvarez - 2d
                          </p>
                        </div> </a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                      >
                        <div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="avatars/avatar5.jpeg"
                          />
                          <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >Am I a good boy? The reason I ask is because
                              someone told me that people say this to all dogs,
                              even if they aren&#39;t good...</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">
                            Chicken the Dog · 2w
                          </p>
                        </div> </a
                      ><a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                        >Show All Alerts</a
                      >
                    </div>
                  </div>
                  <div
                    class="shadow dropdown-list dropdown-menu dropdown-menu-end"
                    aria-labelledby="alertsDropdown"
                  ></div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow">
                  <div class="nav-item dropdown no-arrow">
                    <a
                      class="dropdown-toggle nav-link"
                      aria-expanded="false"
                      data-bs-toggle="dropdown"
                      href="#"
                      ><span class="d-none d-lg-inline me-2 text-gray-600 small"
                        >Valerie Luna</span
                      ><img
                        class="border rounded-circle img-profile"
                        src="avatars/avatar1.jpeg"
                    /></a>
                    <div
                      class="dropdown-menu shadow dropdown-menu-end animated--grow-in"
                    >
                      <a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-user fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        > Profile</a
                      ><a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        > Settings</a
                      ><a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-list fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        > Activity log</a
                      >
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        > Logout</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container-xl">
            <div>
              <h3 class="text-center text-dark mb-4" style="margin-top: 4vw">
                Edit Your Password
              </h3>
            </div>
            <div style="margin-bottom: 1vw">
              <a href="profile.html"
                ><button
                  class="btn btn-primary"
                  type="button"
                  style="
                    color: var(--bs-pink);
                    background: var(--bs-white);
                    border-color: var(--bs-pink);
                  "
                >
                  My Profile 
                </button></a
              >
            </div>
            <div>
              <div class="card shadow mb-3">
                <div class="card-body d-lg-flex justify-content-lg-center">
                  <form
                    class="d-lg-flex justify-content-lg-center"
                    style="width: 60vw"
                  >
                    <div class="row" style="width: 55vw">
                      <div class="col me-auto" style="margin-bottom: 3vw">
                        <div class="mb-3">
                          <label class="form-label" for="first_name"
                            ><strong>Current password *</strong></label
                          ><input
                            id="first_name"
                            class="form-control"
                            type="password"
                            name="edit_user_profile_current_password"
                            placeholder="Current Password"
                            minlength="6"
                            required
                          />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="first_name"
                            ><strong>New password *</strong></label
                          ><input
                            id="first_name-1"
                            class="form-control"
                            type="password"
                            name="edit_user_profile_new_password"
                            placeholder="New Password"
                            required
                            minlength="6"
                          />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="first_name"
                            ><strong>Confirm password *</strong></label
                          ><input
                            id="first_name-2"
                            class="form-control"
                            type="password"
                            name="edit_user_profile_new_password"
                            placeholder="Confirm Password"
                            required
                            minlength="6"
                          />
                        </div>
                        <div class="row">
                          <div
                            class="col-lg-12 d-lg-flex justify-content-lg-center align-items-lg-center"
                          >
                            <div
                              class="align-items-center align-content-center align-self-center"
                            >
                              <button
                                class="btn btn-primary d-lg-flex align-self-center justify-content-lg-center align-items-lg-center"
                                type="button"
                                style="
                                  color: var(--bs-white);
                                  background: var(--bs-gray-800);
                                  border-style: hidden;
                                  border-color: var(--bs-pink);
                                  margin-left: 7vw;
                                "
                              >
                                Save password</button
                              ><span
                                class="d-inline-flex d-lg-flex justify-content-lg-center align-items-lg-center"
                                style="font-weight: bold; margin-top: 2vw"
                                >The new password saved successfully!</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row mb-3" style="margin-top: 20px">
              <div class="col-lg-8">
                <div class="row mb-3 d-none">
                  <div class="col">
                    <div class="card textwhite bg-primary text-white shadow">
                      <div class="card-body">
                        <div class="row mb-2">
                          <div class="col">
                            <p class="m-0">Peformance</p>
                            <p class="m-0"><strong>65.2%</strong></p>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-rocket fa-2x"></i>
                          </div>
                        </div>
                        <p class="text-white-50 small m-0">
                          <i class="fas fa-arrow-up"></i> 5% since last month
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card textwhite bg-success text-white shadow">
                      <div class="card-body">
                        <div class="row mb-2">
                          <div class="col">
                            <p class="m-0">Peformance</p>
                            <p class="m-0"><strong>65.2%</strong></p>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-rocket fa-2x"></i>
                          </div>
                        </div>
                        <p class="text-white-50 small m-0">
                          <i class="fas fa-arrow-up"></i> 5% since last month
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <footer class="page-footer dark" style="color: rgb(33, 37, 41)">
      <div class="container">
        <div class="row row-cols-4">
          <div class="col-lg-2 text-center d-lg-flex align-items-lg-center">
            <a class="mx-auto" href="help-center.html">Help Center</a>
          </div>
          <div class="col-lg-2 text-center d-lg-flex align-items-lg-center">
            <a class="mx-auto" href="q-and-a.html">Q&amp;A</a>
          </div>
          <div
            class="col-lg-2 text-center d-lg-flex align-items-center align-items-lg-center"
          >
            <a class="mx-auto" href="about-us.html">About Us</a>
          </div>
          <div class="col-lg-2 text-center d-lg-flex align-items-lg-center">
            <a class="mx-auto" href="contact-us.html">Contact Us</a>
          </div>
          <div
            class="col d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
          >
            <a
              class="btn mx-auto"
              role="button"
              style="
                background: url('icon/facebook-free-icon-font.svg') center /
                  contain no-repeat;
                border-style: hidden;
                width: 3.5vw;
                height: 3vw;
              "
              href="https://www.facebook.com/profile.php?id=100080692064900"
            ></a
            ><a
              class="btn mx-auto"
              role="button"
              style="
                background: url('icon/instagram-free-icon-font.svg') center /
                  contain no-repeat;
                border-style: hidden;
                width: 3.5vw;
                height: 3vw;
              "
              href="https://www.instagram.com/holysheets.official/"
            ></a
            ><img
              class="mx-auto"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              style="border-style: hidden; width: 3.5vw; height: 3vw"
              src="icon/envelope-free-icon-font.svg"
              title="holysheets.official@gmail.com"
            />
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>© 2022 Copyright Holy Sheets</p>
      </div>
    </footer> -->
    <script id="replace_with_footer" src="components/footer.js"></script>
    <!-- <script src="components/Welcome-page.js"></script> -->
  </body>
</html>
