<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="../components/user-edit-password.css" />
  </head>

  <body id="page-top">
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-xl">
            <div>
              <h3 class="text-center text-dark mb-4" style="margin-top: 4vw">
                Edit Your Password
              </h3>
            </div>
            <div style="margin-bottom: 1vw">
              <a href="profile.html"
                ><button
                  class="btn btn-primary"
                  type="button"
                  style="
                    color: var(--bs-pink);
                    background: var(--bs-white);
                    border-color: var(--bs-pink);
                  "
                >
                  My Profile 
                </button></a
              >
            </div>
            <div>
              <div class="card shadow mb-3">
                <div class="card-body d-lg-flex justify-content-lg-center">
                  <form
                    class="d-lg-flex justify-content-lg-center"
                    style="width: 60vw"
                  >
                    <div class="row" style="width: 55vw">
                      <div class="col me-auto" style="margin-bottom: 3vw">
                        <div class="mb-3">
                          <label class="form-label" for="first_name"
                            ><strong>Current password *</strong></label
                          ><input
                            id="first_name"
                            class="form-control"
                            type="password"
                            name="edit_user_profile_current_password"
                            placeholder="Current Password"
                            minlength="6"
                            required
                          />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="first_name"
                            ><strong>New password *</strong></label
                          ><input
                            id="first_name-1"
                            class="form-control"
                            type="password"
                            name="edit_user_profile_new_password"
                            placeholder="New Password"
                            required
                            minlength="6"
                          />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="first_name"
                            ><strong>Confirm password *</strong></label
                          ><input
                            id="first_name-2"
                            class="form-control"
                            type="password"
                            name="edit_user_profile_new_password"
                            placeholder="Confirm Password"
                            required
                            minlength="6"
                          />
                        </div>
                        <div class="row">
                          <div
                            class="col-lg-12 d-lg-flex justify-content-lg-center align-items-lg-center"
                          >
                            <div
                              class="align-items-center align-content-center align-self-center"
                            >
                              <button
                                class="btn btn-primary d-lg-flex align-self-center justify-content-lg-center align-items-lg-center"
                                type="button"
                                style="
                                  color: var(--bs-white);
                                  background: var(--bs-gray-800);
                                  border-style: hidden;
                                  border-color: var(--bs-pink);
                                  margin-left: 7vw;
                                "
                              >
                                Save password</button
                              ><span
                                class="d-inline-flex d-lg-flex justify-content-lg-center align-items-lg-center"
                                style="font-weight: bold; margin-top: 2vw"
                                >The new password saved successfully!</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script id="replace_with_footer" src="footer.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script type="module"></script>
  </body>
</html>
