<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Home - Brand</title>
  <link rel="stylesheet" href="../components/welcome-page.css" />
</head>

<body>
  <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>
  <main class="page landing-page">
    <section class="clean-block clean-info dark">
      <div class="container">
        <section class="py-4 py-xl-5">
          <div class="container">
            <div class="text-center p-4 p-lg-5">
              <h1 style="font-size: 16px; color: var(--bs-pink)">
                <strong>Proud to introduce</strong><br />
              </h1>
              <h1 class="fw-bold mb-4">
                Holy Sheets - the best place to buy bed sheets
              </h1>
              <a class="btn btn-primary fs-5 me-2 py-2 px-4" role="button" href="../components/registration.html"
                style="background: var(--bs-gray-800); border-style: hidden">Register</a>
              <a class="btn btn-light fs-5 py-2 px-4" role="button" href="../components/login.html" style="
                    color: var(--bs-pink);
                    border: 1px solid var(--bs-pink);
                  ">Log In</a>
            </div>
          </div>
          <h1 class="text-center" style="color: var(--bs-pink); font-size: 31.595px">
            Some of our products<br />
          </h1>
        </section>
        <div>
          <img src="../assets/images/sheets/pink_sheets.jpeg" width="1150vw" height="800vw" />
        </div>

        <!-- <section class="clean-block slider dark">
            <div class="container">
              <div
                id="carousel-1"

                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      class="w-100 d-block"
                      alt="Slide Image"
                      src="../assets/images/sheets/pink_sheets.jpeg"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      class="w-100 d-block"
                      src="../assets/images/sheets/42-Bedding-Set-Black-Duvet-Cover-Sets-White-King-Queen-Size-Gold-Quilt-Gray-Comforter-Covers.jpg"
                      alt="Slide Image"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      class="w-100 d-block"
                      src="../assets/images/sheets/15591845895708.jpg"
                      alt="Slide Image"
                    />
                  </div>
                </div>
                <div>
                  <a
                    class="carousel-control-prev"
                    href="#carousel-1"
                    role="button"
                    data-slide="prev"
                  >
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#carousel-1"
                    role="button"
                    data-bs-slide="next"
                  >
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                  </a>
                </div>
                <ol class="carousel-indicators">
                  <li
                    class="active"
                    data-bs-target="#carousel-1"
                    data-bs-slide-to="0"
                  ></li>
                  <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                </ol>
              </div>
            </div>
          </section> -->
      </div>
    </section>
    <section class="clean-block features">
      <div class="container">
        <div class="block-heading">
          <h1 style="font-size: calc(1.325rem + 0.9vw)">Join Us<br /></h1>
          <p>
            If you register you can view our amazing products, save items to
            the Wishlist and purchase them.
          </p>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5 feature-box">
            <h4>A lot of fabric options</h4>
            <p>Soft fabrics from all over the world.</p>
          </div>
          <div class="col-md-5 feature-box">
            <h4>A verity of bed sheet sizes</h4>
            <p>Fit for common and uncommon bed sizes.</p>
          </div>
          <div class="col-md-5 feature-box">
            <h4>Many new products<br /></h4>
            <p>
              Our collection is updated each season so that you can enjoy the
              current designs.
            </p>
          </div>
          <div class="col-md-5 feature-box">
            <h4>Saving items to Whishlist<br /></h4>
            <p>
              Save items that you like in order to review them again later.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script type="module" id="replace_with_footer" src="../components/footer.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <!-- <script src="components/welcome-page.js"></script> -->
</body>

</html>