<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Catalog - Brand</title>
    <link rel="stylesheet" href="../components/wishlist.css" />
  </head>
  <body>
    <script id="replace_with_navbar" src="../components/navbar.js"></script>
    <main class="page catalog-page">
      <section class="clean-block clean-catalog dark">
        <div class="container">
          <div class="block-heading">
            <h1 style="font-size: calc(1.325rem + 0.9vw)">Wishlist<br /></h1>
          </div>
          <button
            class="btn btn-primary"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            type="reset"
            style="
              background: url('../assets/icons/trash-free-icon-font.svg') center /
                contain no-repeat;
              width: 3vw;
              height: 3vw;
              border-style: hidden;
            "
            title="Reset Wishlist"
          ></button>
          <div class="content">
            <div class="row justify-content-center" style="margin-top: 3vw">
              <div class="col-md-9 flex-fill" style="margin-top: 1v">
                <div class="products">
                  <div class="row g-0">
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/1bd475a7dd51118a3db91c50d52bf519.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating">
                            <span
                              class="fs-4"
                              style="color: var(--bs-red); font-size: 19.2px"
                              ><strong>109.90</strong></span
                            >
                          </div>
                          <div class="price">
                            <h3 style="text-decoration: line-through">
                              149.90
                            </h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/4.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating"></div>
                          <div class="price">
                            <h3 style="margin-top: 0.5vw">129.90</h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/71ZxvIGFtrL._SL1280_.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating">
                            <span
                              class="fs-4"
                              style="color: var(--bs-red); font-size: 19.2px"
                              ><strong>109.90</strong></span
                            >
                          </div>
                          <div class="price">
                            <h3 style="text-decoration: line-through">
                              149.90
                            </h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/6600805A_00_W900_H1173.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating">
                            <span
                              class="fs-4"
                              style="color: var(--bs-red); font-size: 19.2px"
                              ><strong>109.90</strong></span
                            >
                          </div>
                          <div class="price">
                            <h3 style="text-decoration: line-through">
                              169.90
                            </h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/a7a742e43c8cae9b647578b18a902307.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating"></div>
                          <div class="price">
                            <h3 style="margin-top: 0.5vw">109.90</h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/Bedding-Set-satin-100-cotton-C502-1-5-sleeping-pillowcases-70-70-2-PCs.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating"></div>
                          <div class="price">
                            <h3 style="margin-top: 0.5vw">129.90</h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/H07c3e51c66e6461ab2a133d201ddd32aV.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating"></div>
                          <div class="price">
                            <h3 style="margin-top: 0.5vw">139.90</h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/s-l400.jpg"
                              style="width: 250px; height: 300px"
                          /></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating"></div>
                          <div class="price">
                            <h3 style="margin-top: 0.5vw">109.90</h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="clean-product-item">
                        <div class="image">
                          <a href="#"
                            ><img
                              class="img-fluid d-block mx-auto"
                              src="../assets/images/sheets/SJ-3-4pcs-Set-Swan-Geometric-Pattern-Blue-Comforter-Bedding-Sets-Cotton-Duvet-Cover-Set-Bed.jpg"
                              style="width: 250px; height: 300px" /></a
                          ><a href="#"></a>
                        </div>
                        <div
                          class="d-lg-flex justify-content-lg-center product-name"
                        >
                          <a href="#">sheets name</a>
                        </div>
                        <div class="about">
                          <div class="rating">
                            <span
                              class="fs-4"
                              style="color: var(--bs-red); font-size: 19.2px"
                              ><strong>109.90</strong></span
                            >
                          </div>
                          <div class="price">
                            <h3 style="text-decoration: line-through">
                              119.90
                            </h3>
                          </div>
                        </div>
                        <div
                          class="d-lg-flex mx-auto justify-content-lg-center align-items-lg-center"
                        >
                          <button
                            class="btn btn-primary d-lg-flex mx-auto justify-content-lg-start align-items-lg-center"
                            type="button"
                            style="
                              border-radius: 0px;
                              width: 3vw;
                              height: 3vw;
                              border: 0px none var(--bs-white);
                              background: url('../assets/icons/shopping-cart-add-free-icon-font (1).svg')
                                  center / cover,
                                var(--bs-white);
                              margin-top: 1vw;
                              margin-bottom: 1vw;
                            "
                          ></button
                          ><button
                            class="btn d-lg-flex mx-auto justify-content-lg-end align-items-lg-center"
                            type="button"
                            style="
                              background: url('../assets/icons/black-heart.svg')
                                center / contain no-repeat;
                              width: 2.5vw;
                              height: 2.5vw;
                            "
                          ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <nav>
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous"
                          ><span aria-hidden="true">«</span></a
                        >
                      </li>
                      <li class="page-item active">
                        <a class="page-link">1</a>
                      </li>
                      <li class="page-item"><a class="page-link">2</a></li>
                      <li class="page-item"><a class="page-link">3</a></li>
                      <li class="page-item">
                        <a class="page-link" aria-label="Next"
                          ><span aria-hidden="true">»</span></a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script id="replace_with_footer" src="../components/footer.js"></script>
    <!-- <script src="components/welcome-page.js"></script> -->
  </body>
</html>
