<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Catalog - Brand</title>
  <link rel="stylesheet" href="../components/wishlist.css" />
</head>

<body>
  <script type="module" id="replace_with_navbar" src="../components/navbar.js"></script>
  <main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
      <div class="container">
        <div class="block-heading">
          <h1 style="font-size: calc(1.325rem + 0.9vw)">Wishlist<br /></h1>
        </div>
        <div id="image_field" class="image">
          <a><img id="product_image" class="img-fluid d-block mx-auto"
              src="../assets/images/Lovepik-creative-hand-drawn-cute-dividing-line1.png" style="height: 4vw;" /></a>
        </div>
        <div id="spinner" class="loader"></div>

        <div class="content">
          <div class="row justify-content-center" style="margin-top: 3vw">
            <div class="col-md-9 flex-fill" style="margin-top: 1v">
              <div style="padding: 30px;">
                <div id="wishlist" class="row g-0">
                  <div id="product" hidden class="col-12 col-md-6 col-lg-4"
                    style="border: 1px solid var(--bs-gray-200)">
                    <div class="clean-product-item">
                      <div id="image_field" class="image">
                        <a><img id="product_image" class="img-fluid d-block mx-auto"
                            src="../assets/images/sheets/1bd475a7dd51118a3db91c50d52bf519.jpg"
                            style="width: 250px; height: 300px" /></a>
                      </div>
                      <a id="product_name" class="d-lg-flex justify-content-lg-center product-name" href="#"
                        style="color: var(--bs-gray-800)">sheets
                        name</a>
                      <div id="product_sku" class="d-lg-flex justify-content-lg-center product-sku">
                        <span>sku</span>
                      </div>

                      <div class="text-center d-lg-flex justify-content-lg-center about">
                        <div class="row" style="border: none">
                          <div class="col">
                            <h3 id="product_price" style="text-decoration: line-through; margin-top: 1vw;">
                              149.90
                            </h3>
                            <span id="product_sale" class="fs-4"
                              style="color: var(--bs-red); font-size: 19.2px"><strong>109.90</strong></span>
                          </div>
                        </div>
                      </div>
                      <div class="text-end" style="width: 15vw;margin-left: 10vw;margin-top: 1vw; text-align: center;">
                        <div class="col-lg-12"><span id="just_landed"
                            style="font-size: 13px;margin-left: 1vw;margin-right: 1vw;font-weight: bold; visibility: hidden;">Just
                            Landed</span></div>
                        <div class="col-lg-12"><span id="out_of_stock"
                            style="font-size: 13px;margin-left: 1vw;margin-right: 1vw;font-weight: bold; visibility: hidden;">Out
                            Of
                            Stock</span></div>
                        <div class="col-lg-12"><span id="few_left"
                            style="font-size: 13px;margin-left: 1vw;margin-right: 1vw;font-weight: bold; visibility: hidden;">Few
                            Left</span>
                        </div>
                      </div>
                      <button id="heart_btn" class="btn btn-primary" type="button" style="
                            border-radius: 0px;
                            width: 2vw;
                            height: 2vw;
                            border: 0px none var(--bs-white);
                            background: url('../assets/icons/black-heart.svg') center / cover,
                              var(--bs-white);
                            margin-top: 1vw;
                            margin-bottom: 1vw;
                          "></button>

                    </div>
                  </div>
                </div>
              </div>
    </section>
  </main>
  <script type="module" id="replace_with_footer" src="../components/footer.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
  <script type="module" src="../components/wishlist.js"></script>
</body>

</html>